
/* panel - basicform */
/*x-panel-basicform .x-panel-basicform{padding: 0;border: none;background: transparent;}*/
/*.x-panel-header-basicform {*/
    /*font-size: 12px;*/
    /*border: none;*/
    /*background-image: none;*/
    /*background-color: transparent;*/
/*}*/

/*.x-panel-header-basicform-form {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}*/
/*.x-panel-header-basicform-horizontal {padding: 5px 0;}*/
/*.x-panel-header-title-basicform>.x-title-text-basicform {*/
    /*padding: 0 0 0 22px;*/
    /*color: #666;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*font-family: NG;*/
    /*background: url("../images/customui/htns/bullet_h2.png") no-repeat 0 50%;*/
/*}*/
/*.x-panel-basicform.nonetitle .x-panel-header-title-basicform>.x-title-text-basicform {*/
    /*background: none;*/
/*}*/
/*.x-panel-body-basicform {*/
    /*color: #666;*/
    /*font-size: 12px;*/
    /*font-weight: normal;*/
    /*font-family: NG;*/
    /*border: none;*/
    /*border-top: 1px solid #cacaca;*/
    /*border-left: 1px solid #cacaca;*/
    /*border-bottom: 1px solid #cacaca;*/
    /*background: #fff;*/
/*}*/
/*.x-panel-body-basicform .fo-table-row{margin: 0;padding: 0;background: #fff;border-left: 1px solid #cacaca;border-top: 1px solid #cacaca}*/
/*.x-panel-body-basicform .fo-table-row-th{*/
    /*width: 150px;*/
    /*padding: 0 5px 0 12px;*/
    /*color: #666;*/

    /*font-weight: normal;*/
    /*letter-spacing: -1px;*/
    /*white-space: nowrap;*/
    /*border-right: 1px solid #cacaca;*/
    /*border-bottom: 1px solid #cacaca;*/
    /*background-color: #f1f6ff;*/
/*}*/
/*.x-panel-body-basicform .fo-table-row-th label.fo-required{margin: 0 0 0 -12px;padding: 0 5px 0 12px;background: url(../images/customui/grid/icon_required.png) no-repeat  5px 50%;}*/
/*.x-panel-body-basicform .fo-table-row-td{padding: 2px;border-right: 1px solid #cacaca;border-bottom: 1px solid #cacaca}*/

/*.x-panel-basicform .x-table-form-item {*/
    /*margin-bottom: 0px;*/
/*}*/

/*.x-panel-basicform .x-noborder-trbl {*/
    /*border-width: 1px !important;*/
/*}*/







/* 아래 복원할 것. ....*/
.fo-table-row{margin: 0;padding: 0;background: #fff;border-left: 1px solid #cacaca;border-top: 1px solid #cacaca}
.fo-table-row-th{
    width: 150px;
    padding: 0 5px 0 12px;
    color: #666;
    font-weight: normal;
    letter-spacing: -1px;
    white-space: nowrap;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    background-color: #f1f6ff;
}
.fo-table-row-th label.fo-required{margin: 0 0 0 -12px;padding: 0 5px 0 12px;background: url(../images/customui/grid/icon_required.png) no-repeat  5px 50%;}
.fo-table-row-td{padding: 2px;border-right: 1px solid #cacaca;border-bottom: 1px solid #cacaca}

.x-table-form-item {
    margin-bottom: 0px;
}

.x-noborder-trbl {
    border-width: 1px !important;
}


.x-accordion-item .x-grid-header-ct {
    border-width: 1px 1px 1px !important;
}
/*필수 입력 필드에 대한 백그라운드.*/
.x-form-text-wrap-invalid .x-form-text-default{
    background-color: #ddb9d1;
    background-image: none;
}
